.error {
  border: 2px solid red;
}
.not_error {
  border: 2px solid green;
}
#validEmail{
font-size : 10px;
color: red;
}
#validName{
font-size : 10px;
color: red;
}
#validPassword{
font-size : 10px;
color: red;
}
* {
  font-family: sans-serif;
}
body {
  padding: 20px;
}
.sign-up-form {
  border: 3px solid green;;
  border-radius: 5px;
  display: inline-block;
  margin-left: 780px;
  height: auto;
}

sign-up-form.p {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  width: 100px;
  margin: 0 auto;
}
sign-up-form.input {
  border: 10px solid black;
    border-radius: 5px;
}
p {
  width: 250px;
}

#number {
  position: relative;
  top: -20px;
}

#submit_button {
  border: 1px solid green;
  width: 100%;
  background: green;
  line-height: 2em;
  font-weight: normal;
}

#submit_button:hover {
 background-color: skyblue;
}
