<a href="/products?lang=en"><img src="/static/img/eng.jpeg" width="50"
   height="43" alt="English"</a>
<a href="/products?lang=es"><img src="/static/img/spain.jpeg" width="50"
      height="53" alt="Spanish"</a>